.pricing__container {
  text-align: center;

  @include m {
    text-align: left;
  }
}

.pricing__list {
  @extend %list;

  @include m {
    display: flex;
    justify-content: space-between;
  }
}

.pricing__item {
  margin-bottom: 63px;

  &:last-child {
    margin-bottom: 0;
  }

  @include m {
    flex-basis: 33.333%;
    margin-bottom: 0;
    margin-right: 35px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.pricing__img {
  margin: 0 auto;
  margin-bottom: 38px;
}

.pricing__subtitle {
  margin-bottom: 17px;

  font-weight: 600;
  font-size: 18px;
  @include lh(18px, 28px);
  color: getColor(accent);

  @include s {
    font-size: 24px;
    @include lh(24px, 28px);
  }

  @include m {
    font-size: 20px;
    @include lh(20px, 28px);
  }

  @include l {
    font-size: 22px;
    @include lh(22px, 34px);
  }

  @include xl {
    font-size: 22px;
    @include lh(22px, 34px);
  }
}

.pricing__description {
  margin-bottom: 33px;

  font-size: 13px;
  @include lh(13px, 20px);

  @include s {
    font-size: 14px;
    @include lh(14px, 21px);
  }

  @include l {
    font-size: 16px;
    @include lh(16px, 24px);
  }
}

.pricing__price {
  @extend %link;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 9px 16px;

  background-color: getColor(background);

  border-radius: 5px;

  @include l {
    max-width: 75%;
  }

  @include xl {
    max-width: 50%;
  }
}

.pricing__value {
  margin-right: 10px;

  font-size: 18px;
  @include lh(18px, 27px);
  color: getColor(accent);

  @include s {
    font-size: 22px;
    @include lh(22px, 33px);
  }

  @include l {
    font-size: 24px;
    @include lh(24px, 36px);
  }
}

.pricing__per {
  font-size: 14px;
  @include lh(14px, 21px);
  color: getColor(contrast);

  @include s {
    font-size: 16px;
    @include lh(16px, 24px);
  }
}
