$colors: (
  'accent': #263238,
  'primary': #8f95a5,
  'secondary': #000000,

  'active-white': #ffffff,
  'contrast': #546269,
  'background': #f5f5f5,
  'logo': #939393,
  'burger': #39515e,
  'line': #c4c4c4,

  'overlay': rgba(7, 34, 47, 0.7),
);

$properties: (
  'time': 250ms,
  'fn': ease-in-out,
);

$sizes: (
  'xs': 320px,
  's': 575px,
  'm': 767px,
  'l': 992px,
  'xl': 1600px,
);

@function getColor($key) {
  @return map-get($colors, $key);
}

@function getProperty($key) {
  @return map-get($properties, $key);
}

@function getSize($key) {
  @return map-get($sizes, $key);
}
